/* Normalize Reset*/
@import 'reset';

/* Variaveis */
$cor-base: #f12445;
$bg-color: #333;
$font-color: #fff;

/* Estilo base*/
body{
    color: $font-color;
    background-color: $bg-color;
    text-align: center;
    /* START - Centralizar div */
    .outer {
        display: table;
        position: absolute;
        height: 100%;
        width: 100%;
      }
      
    .middle {
        display: table-cell;
        vertical-align: middle;
    }
      
    .inner {
        margin-left: auto;
        margin-right: auto;
        width: 450px;
    }
    /* END - Centralizar div */
    %btn{
        color: $font-color;
        border: solid 2px $font-color;
        border-radius: 1em;
        padding: 0.5em;
        &:hover{
            color: $cor-base;
            background-color: $font-color;
        }
    }
    main{
        
        div{
            border-radius: 1em;
            padding: 1em;
            background-color: $cor-base;
            nav{
                padding: 1em;
                a{
                    @extend %btn;
                    text-decoration: none;
                }
                
            }
            section{
                input{
                    padding: 0.5em;
                    border-radius: 1em;
                    border: none;
                    color: $bg-color;
                }
                button{
                    @extend %btn;
                    background-color: $cor-base;
                }
                textarea{
                    margin-top: 0.5em;
                    border-radius: 1em;
                    border:none;
                }
            }
        }
    }
}
